.button 
    text-decoration: none
    background: var(--color-primary-dark) 
    padding: 1rem
    min-width: 200px
    border-radius: 12px
    color: var(--color-white)
    display: flex
    justify-content: center
    align-items: center
    transition: background-color 200ms linear
    transition-property: background-color, transform

.button:hover, .button:focus
    outline: none
    background-color: var(--color-primary)
    transform: scale(1.1)
