.navbar
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 80px
    z-index: 99
    padding: 0 var(--padding-x)
    display: flex
    align-items: center
    transition: background-color 200ms linear

.logoContainer
    display: block
    height: 100%
.logo
    height: 90%

.footer
    padding: 1rem var(--padding-y)
    opacity: 0.3
    font-size: 0.8rem
