@use "../styles/variables" as vars


.subtitle
    composes: Title from "../styles/texts.sass" 
    color: var(--color-primary-ligth)
    margin-bottom: 2rem

.hotelsContainer
    padding: 0 var(--padding-y) 
    margin: 3rem 0
    .subtitle
        margin-bottom: 2rem

.services
    display: flex
    flex-direction: column
    align-items: flex-start
    margin: 4rem var(--padding-x)
    min-height: 100vh

.servicesTitle
    composes: subtitle

.servicesDescription
    margin-bottom: 2rem
    font-weight: bold
    color: var(--color-gray)
    width: 80%


@media only screen and (min-width: vars.$desktop-breakpoint)
     .subtitle
         margin-bottom: 4rem
         text-align: center

     .hotelsContainer
          margin-top: 6rem
          margin-bottom: 8rem

     .services
         align-items: center

     .servicesDescription
         text-align: center
         width: 50%

     .servicesTitle
          margin-bottom: 1rem
