.hotelsContainer
    padding: 0 var(--padding-y) 
    margin: var(--padding-x) 0 2rem 

.subtitle
    composes: Title from "../styles/texts.sass" 
    color: var(--color-primary-ligth)
    margin-bottom: 2rem
